<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira de Gestão</title>
</head>
<body>

    <div class="container">
        <div class="conteudo">
            <h1>CARTEIRA DE GESTÃO</h1>
            <h2>Cadastro</h2>
            <img src="" alt="">

            <form action="/Home/cadastro" method="post">
                <label class="title" for="">E-mail</label>
                <input class="text" type="text" id="email" name="email">

                <label class="title" for="">Senha</label>
                <input class="text" type="text" id="senha" name="senha">

                <label class="title" for="">CPF</label>
                <input class="text" type="text" id="cpf" name="cpf">


                <input class="button" type="submit" value="Cadastrar">
                <a href="/Home/login">Já tem uma conta?</a>
                </form>
</div>
        <div class="footer">
        </div>
    </div>
</body>
</html>