@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Vergueiro,235 - 249 - Liberdade - São Paulo - SP <br />
    Telefone:  (11) 00000-0000
</address>

<address>
    <strong>Suporte:</strong> <a href="Pagni@email.com">Pagni@email.com</a><br />
    <strong>Marketing:</strong> <a href="Bruno@email.com">Bruno@email.com</a>
</address>
