<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira de Gestão</title>
</head>
<body>
    <div class="container">
        <div class="conteudo">
            <h1>CARTEIRA DE GESTÃO</h1>
            <h2>Login</h2>
            <img src="" alt="">

            <form action="/Home/entrar">
                <label class="title" for="">E-mail</label>
                <input class="text" type="text" id="" value="" name="email">

                <label class="title" for="">Senha</label>
                <input class="text" type="text" id="" value="" name="senha">

                <input class="button" type="submit" value="Entrar">
                <a href="/Home/cadastro">Ainda não tem uma conta?</a>
            </form>

        </div>
        <div class="footer">
        </div>
    </div>
</body>
</html>